<div class="header_top">
  <div class="header_top_left">
    <div class="header_top_linklist">
      <a class="header_top_text blue" href="#">À propos</a>
      <a class="header_top_text blue" href="#">Nous joindre</a>
      <a class="header_top_text blue" href="#">Proposer un projet</a>
    </div>
  </div>
  <div class="header_top_right">
    <a class="header_top_button" href="#">Accès vendeur</a>
  </div>
</div>

{% schema %}
  {
    "name": "Top Header",
    "settings": [
      {
        "type": "header",
        "content": "Top Header"
      }
    ]
  }
{% endschema %}