<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="description" content="Description">
    <meta name="keywords" content="Keywords">
</head>

<body>
    content
</body>

</html>