<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <h1 class="cart_header"></h1>
    <div class="cart_items_container">
      {% for line_item in cart.items %}
        <span>{{ line_item.title }} - x{{ line_item.quantity }} - {{ line_item.unit_price }}</span>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}