<h1>This is a footer</h1>

{% schema %}
{
    "name": "Footer",
    "tag": "footer",
    "settings": [
        {
        "type": "header",
        "content": "Footer"
        }
    ]
}
{% endschema %}