<h1>This is a header</h1>

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "settings": [
        {
        "type": "header",
        "content": "Header"
        }
    ]
}
{% endschema %}