<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <div class="grid" style="grid-template-columns:50% 50%">
      <div class="product_image_container" style="border-color:{{ section.settings.border_color }};">
        <img class="product_image" src="{{ product.featured_image | image_url }}">
      </div>
      <div class="product_info">
        <h1 class="product_title">{{ product.title }}</h1>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Couleur de fond"
    },
    {
      "type": "header",
      "content": "Image de produit"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Couleur de la bordure"
    }
  ]
}
{% endschema %}
