<div class="section_container_1200">
  <div class="grid" style="grid-template-columns:50% 50%">
    <div class="product_image">
      <img>
    </div>
    <div class="product_info">
      <h1 class="product_title">{{ product.title }}</h1>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product",
    "settings": []
  }
{% endschema %}