{% assign collection = section.settings.collection %}
{% for product in collection %}
  <h1>{{ product.title }}</h1>
{% endfor %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Sélectionner la collection"
      }
    ],
    "presets":[
      {
        "name": "Collection"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}