<p>collection</p>

{% schema %}
  {
    "name": "Collection",
    "settings": [],
    "presets":[
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}