<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <h2 class="section_title_noarrow">allo</h2>
    <p class="section_text">allo</p>
    <div class="main_btn"><a href="#"><span class="main_btn_text"></span></a></div>
  </div>
</div>



{% schema %}
  {
    "name": "Texte simple",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Couleur de fond",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Texte simple"
      }
    ]
  }
{% endschema %}