<div class="slideshow">

  {% for block in section.blocks %}
    <div class="slideshow_item fade">
      <a href="{{ block.settings.link }}">
        <img src="{{ block.settings.image | image_url }}" class="slideshow_image">
        <h2 class="slideshow_text">{{ block.settings.text }}</h2>
      </a>
    </div>
  {% endfor %}

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

{% schema %}
  {
    "name": "Slideshow",
    "settings": [],
    "presets": [
      {
        "name": "Slideshow"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}