<div class="slideshow">

  <div class="slideshow_item fade">
    <img src="img1.jpg" style="width:100%">
    <div class="slideshow_text">Caption Text</div>
  </div>

  <div class="slideshow_item fade">
    <img src="img2.jpg" style="width:100%">
    <div class="slideshow_text">Caption Two</div>
  </div>

  <div class="slideshow_item fade">
    <img src="img3.jpg" style="width:100%">
    <div class="slideshow_text">Caption Three</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

{% schema %}
  {
    "name": "Slideshow",
    "settings": [],
    "presets": [
      {
        "name": "Slideshow"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}