<div style="margin-top:{{ section.settings.margin }}px"></div>

{% schema %}
  {
    "name": "Espace",
    "settings": [
      {
        "type": "range",
        "id": "margin",
        "label": "Espace",
        "unit": "px",
        "default": 10,
        "min": 10,
        "max": 200,
        "step": 5
      }
    ],
    "presets": [
      {
        "name": "Espace"
      }
    ]
  }
{% endschema %}