<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <div class="union_section">
      <h2 class="section_title" style="color:{{ section.settings.title_color }}">{{ section.settings.title }}</h2>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Union Section",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Couleur de fond",
        "default": "#0F2B55"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titre de section",
        "default": "L'union fait la force"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Couleur du titre",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Union Section"
      }
    ]
  }
{% endschema %}